* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #FAFAFA;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  height: 100vh;
  margin-top: 100px;
}

.box-container {
  background-color: #FFFFFF;
  padding: 50px;
  border: 1px solid #DBDBDB;
  margin-bottom: 10px;
}

.box-item {
  border: 1px solid #DBDBDB;
  border-radius: 3px;
  background-color: #FAFAFA;
  padding: 10px;
  margin-bottom: 10px;
}

.box-item p {
  color: #8E91A2;
}

#login {
  background-color: #B2DFFC;
  padding: 10px;
  border-radius: 3px;
  color: #fff;
}

#ou-id {
  color: #8E8E8E;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

#ou-id span::before {
  content:'';
  width: 140px;
  height: 1px;
  background-color: #DBDBDB;
  margin-bottom: 5px;
  display:inline-block;
}

#ou-id span::after {
  content:'';
  width: 140px;
  height: 1px;
  background-color: #DBDBDB;
  margin-bottom: 5px;
  display:inline-block;
}

#facebook {
  color: #385185;
  font-weight: bold;
}

#facebook span {
  font-size: 16px;
}

#facebook img {
  width: 20px;
}

#senha {
  color: #385185;
}

.app {
  align-self: center;
}

.app img {
  width: 130px;
}

.app p {
  margin-top:10px;
  margin-bottom: 20px;
}